    .navbar {
      margin-bottom: 10;
      background-color: #160A47;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      border-radius: 0;
    }

    .navbar li a,
    .navbar .navbar-brand {
      color: #fff !important;
    }

    .navbar-nav li a:hover {
      color: #fff !important;
    }

    .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
    }

    .navbar-default .navbar-toggle {
      border-color: transparent;
    }

    .row.content {
      height: 450px
    }

    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }

    footer {
      background-color: #160A47;
      color: white;
      padding: 15px;
      position: fixed; 
      bottom: 0px;
      width: 100%;
    }
    
  .well-block {
    background-color: #fff;
    border: 2px solid #160A47;
    padding: 40px;
    height: 650px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .botao-lindao{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    border-color: #29292c;
    background-color: #160A47;
    transition: all .5s;

  }

    
